$colorPrincipal:slateblue; 
$color-secundario:rebeccapurple;
$color-texto: white;

footer {background-color: rgb(118, 101, 231);
    color: $color-texto;
    text-align: center;
    margin-top: 200px;}